.Rhistory*
.DS_Store
.Rproj.user
.Rapp.history*
data/up/up_gram_panchayat_pradhan_2021.csv
.RDataTmp*
.RDataTmp1
data/rajasthan/shrug-vd01-csv/pc01_vd_clean_shrid.csv
.Rhistory*
.RData
/data/shrug
data/up/weaver_data_2.dta
ms/main.aux
ms/main.bbl
ms/main.blg
ms/main.fdb_latexmk
ms/main.fls
ms/main.lof
ms/main.log
ms/main.lot
ms/main.maf
ms/main.mtc
ms/main.mtc0
ms/main.out
ms/main.toc
ms/main.xdv
